<div class="container-fluid">
  <div class="row">
    <div
      *ngIf="showBanner"
      class="col-sm-6 col-md-7 col-lg-8 d-flex flex-grow-1 justify-content-center align-items-center p-0 bg-two-gradient"
    >
      <div class="text-center">
        <h1>Tech Blog</h1>
        <h3>Welcome to Tech Blog</h3>
        <h5>Create an account and join the community</h5>
      </div>
    </div>
    <div
      class="col-12 col-sm-6 col-md-5 col-lg-4 vh-100 p-0 d-flex flex-column justify-content-center align-items-center text-center"
    >
      <h5>Thank you for creating an account.</h5>
      <button class="btn btn-outline-primary" [routerLink]="['/sign-in']">
        Click here to log in
      </button>
    </div>
  </div>
</div>
