.navbar-search-active {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(152, 152, 152);
}

.search-input {
  border: none;
  outline: none;
  background: rgb(152, 152, 152);
  font-size: 1.3rem;
  color: white;
}

.search-input:active {
  border: none;
  background: rgb(152, 152, 152);
}

::placeholder {
  color: white;
  opacity: 0.8;
}