<div class="container-fluid">
  <div class="row">
    <div
      *ngIf="showBanner"
      class="position-md-fixed col-md-7 col-lg-8 d-flex flex-grow-1 justify-content-center align-items-center p-0 bg-two-gradient"
    >
      <div class="text-center">
        <h1>Tech Blog</h1>
        <h3>Welcome to Tech Blog</h3>
        <h5>Create an account and join the community</h5>
      </div>
    </div>
    <div class="col-sm-6 col-md-5 col-lg-4 p-0">
      <app-registration-form></app-registration-form>
    </div>
  </div>
</div>
